<div class="site-wrapper">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" data-ng-link="['Main']"><i class="fa fa-paint-brush"></i>&nbsp;brushr</a>
			</div>
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="brushr-top" data-ng-outlet></div>
	</div>
</div>