<div class="panel panel-info">
  <div class="panel-heading">Pallette</div>
  <div class="panel-body">
  	<div data-ng-if="vm.loading" class="text-center">
  		<i class="fa fa-4x fa-spinner fa-spin"></i>
  	</div>
  	<div data-ng-if="vm.currentPallette">
      <div class="row">
        <div class="col-sm-3">
          <colour-button data-uib-tooltip="{{ vm.currentColour | rgbArray }}" data-rgb-colour="vm.currentColour" data-btn-size="brushr-btn-lg">
          </colour-button>
        </div>
        <div class="col-sm-9">
          <rgb-slider data-rgb-model="vm.currentColour" data-on-rgb-change="vm.onRgbChange"></rgb-slider>
        </div>
      </div>
      <hr/>
      <div class="btn-group btn-group-lg">
        <button 
          class="btn btn-success" 
          data-ng-click="vm.addColour()"
          data-uib-tooltip="Add Current Colour To Pallette"><i class="fa fa-plus"></i></button>
        <button 
          class="btn btn-warning" 
          data-uib-tooltip="Edit Colour(s) in Pallette"><i class="fa fa-pencil-square-o"></i></button>
        <button 
          class="btn btn-danger" 
          data-uib-tooltip="Delete Colour(s) in Pallette"><i class="fa fa-trash-o"></i></button>
      </div>
      <hr/>
      <div class="form-group" data-ng-repeat="colour in vm.currentPallette track by $index">
    		<colour-button
          data-rgb-colour="colour.baseColour"
          data-ng-click="vm.selectColour(colour.baseColour, null)"
          data-btn-size="brushr-btn-md"
          data-uib-tooltip="{{ colour.name }} {{ colour.baseColour | rgbArray }}">
    		</colour-button>
        <span data-ng-repeat="tint in colour.tints track by $index">
          <colour-button 
            data-uib-tooltip="Tint: {{ tint | rgbArray }}" 
            data-ng-click="vm.selectColour(colour.baseColour, tint)"
            data-rgb-colour="colour.baseColour" 
            data-btn-size="brushr-btn-sm"
            data-rgb-tint="tint">    
          </colour-button>
        </span>
      </div>
  	</div>
  </div>
</div>