.brushr-top {
	margin-top: 60px;
}

.brushr-btn {
	margin-left: 10px;
}

.brushr-btn.brushr-btn-sm {
	padding:16px;
}

.brushr-btn.brushr-btn-md {
	padding:20px;
}

.brushr-btn.brushr-btn-lg {
	padding:24px;
}
