<div>
	<label>Red:</label>
	<rzslider rz-slider-model="vm.rgbModel[0]" rz-slider-options="{ floor: vm.floor, ceil: 255, onChange: vm.onRgbChange() }"></rzslider>
	<label>Green:</label>
	<rzslider rz-slider-model="vm.rgbModel[1]" rz-slider-options="{ floor: vm.floor, ceil: 255, onChange: vm.onRgbChange() }"></rzslider>
	<label>Blue:</label>
	<rzslider rz-slider-model="vm.rgbModel[2]" rz-slider-options="{ floor: vm.floor, ceil: 255, onChange: vm.onRgbChange() }"></rzslider>
</div>